.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

h3 {
  font-size: 40px;
  font-family: Josefin Slab;
  color: rgb(230, 71, 61);
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 2px dashed #333;
  margin-bottom: 5;
}

img {
  margin-bottom: 10px;
}

span {
  width: 310px;
  font-family: Josefin Slab;
  margin: 10px;
  text-align: center;
  color: rgb(230, 71, 61);
  line-height: 30px;
}
