.About {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .aboutContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .aboutTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        line-height: 1.7;
        font-size: 14px;
        color: #252525;
      }
    }
  }
}



// span {
//   width: 310px;
//   font-family: Josefin Slab;
//   margin: 10px;
//   text-align: center;
//   color: rgb(230, 71, 61);
//   line-height: 30px;
// }
