.slide {
  animation: slide 1s ease-in forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.menuShown {
  animation: menuShown 0.3s ease-in forwards;
}
  @keyframes menuShown {
    0% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0%);
    }
  }



.bounce {
  animation: bounce 2s ease;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: (translateY(0));
  }
	60% {
    transform: (translateY(-40px));
  }
  80% {
    transform: (translateY(0px));
  }
}

.arrow {
  animation: arrow 0.5s ease forwards;
}
@keyframes arrow {
  100% {
    transform: rotate(-90deg);
  }
}
