.App {
  width: 800px;
  // display: flex;
  // align-items: center;

  .menu {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

  }

  .image {
    z-index: 1;
  }
}
