@import 'utility';
@import 'about';
@import 'animations';
@import 'contact';
@import 'menu';
@import 'projects';
$background: url('http://api.thumbr.it/whitenoise-361x370.png?background=202020ff&noise=626262&density=29&opacity=18');

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: rgba(247, 245, 237, 0.3);
  z-index: 2;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: rgb(230, 71, 61);
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid rgb(230, 71, 61);
    border-right: 10px solid rgb(230, 71, 61);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // margin-top: 50px;
}



  a {
    font-family: Josefin Slab;
    text-decoration: none;
    font-size: 40px;
    color: #333;


    &:hover {
      color: #333;
    }
  }



main {
  // width: 900px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 40px;
    font-family: Josefin Slab;
    font-size: 35px;
    color: rgb(230, 71, 61);
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 20px;
    width: 310px;
    opacity: 0.7;
  }
}


h3 {
  font-size: 40px;
  font-family: Josefin Slab;
  color: rgb(230, 71, 61);
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 2px dashed #333;
}

span {
  font-family: Josefin Slab;
  margin: 10px;
  text-align: center;
  color: rgb(230, 71, 61);
}


//all mobile phones, iPads will be regular.
@media screen and (max-width: 414px) {
  body {
    // background-color: #fff;
  }
}
